

p li {
    font-family: Georgia, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 20px;
}


main {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #e9d9e6;
    padding-bottom: 50px;
    padding-top: 1px;
}

nav {
    border: 2px, solid #000000;
}

header {
    padding-bottom: 5px;
    padding-top: 1px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #507d88;
    color: #ffffff;
}

footer {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #507d88;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Arial, sans-serif;
}

a:link {
    font-family: Arial, sans-serif;
    color: #ffffff;
}
a:visited {
    font-family: Arial, sans-serif;
    color: #970D90;
}
a:hover {
    font-family: Arial, sans-serif;
    color: #EE82EE;
}
a:active {
    font-family: Arial, sans-serif;
    color: #FF0000;
}

hr {
    margin-top: 60px;
    margin-bottom: 60px;
}

/*==========CLASSES==========*/
.image-format {
    width: 50;
}

.image-div {
    margin-top: 1%;
}

.float-left {
    float: left;
}

.center-image {
    display: block;
    margin-left: 37%;
    margin-right: 40%;
}
.center-text {
    margin-left: 28%;
    margin-right: 25%;
}
.center-longtext {
    margin-left: 28%;
    margin-right: 25%;
}